.gridcontainerBox{
   background-color: rgb(255, 245, 249);
   justify-content: space-between;
}
.locationContainer{
   display: flex;
   flex-wrap: wrap;
}
.locationBtn:hover{
background-color: #ffa16e !important;
}
@media only screen and (max-width: 600px) {
   .mainHomeContainer {
      width: 90%;
     margin:  25px 0 25px 25px;
   }
 }
